.search{
    border:1px solid black;
    border-radius: 10px;
    padding: 10px;
    transition:ease-in-out 0.5s

}
.search:hover{
    background-color: lightgray;
}
.loadingImage{
    padding-top: 100px;
}
.companyImage{
width:200px;
height: 80px;
}